@import "tailwindcss";

:root {
    --st-bg-dark: #051424;
    --st-accent-cyber: #00f2ff;
    --st-primary-glow: #ffb690;
    --st-radius-xl: 24px;
    --st-glass-border: rgba(255, 255, 255, 0.1);
    --st-text-main: #d4e4fa;
}

body {
    background: var(--st-bg-dark);
    color: var(--st-text-main);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}